@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@300&display=swap');

:root {
  font-size: 16px;
  
  --font-base: 1rem;
  --font-small: 0.9em;
  --font-large: 1.1em;
  --font-xl: 1.2em;
  --font-xxl: 1.5em;
}

.cv-container {
  max-width: 800px;
  margin: 2em auto;
  padding: 7mm;
  font-size: var(--font-base);
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: var(--font-xxl);
  font-weight: bold;
}
h2 {
  text-transform: uppercase;
  font-size: var(--font-xl);
  border-bottom: #000 0.5px solid;
  padding-block-end: 0.2em;  /* Title and border */
  margin-block-end: 0.4em;  /* Border and paragraph */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indented-details {
  direction: column;
  align-items: center;
  margin-left: var(--font-base);
  margin-top: 0.2rem;
}

p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
}
.margin-bottom {
  margin-bottom: var(--font-base);
}